@charset "UTF-8";

.header_all {
    width: 100%;
    background-color: #555;
}

.header_all h1{
    font-size: 30px;
    font-weight: 700;
    font-weight: bold;
    text-align: center;
    color: #00ffff;
}

.header_inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}  
.header_inner nav ul {
    display: table;
    table-layout: fixed;
    width: 100%;
}
      
.header_inner nav ul li {
    display: table-cell;
    font-weight: bold;
}

.header_nav ul li a {
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}
  
.header_inner nav ul a:hover {
    opacity: 0.5;
    color: #00ffff;
    border-bottom: solid 2px #00ffff;
}

.header_nav ul li a span {
    display: block;
    margin-top: 5px;
    font-size: 10px;
}

.top_all {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background: url("../img/top.png") no-repeat center;
    background-size: cover;
}

.top_all::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.top_inner {
    position: relative;
    text-align: left;
    z-index: 2;
}

.top_inner h3 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 100px 200px;
}

.top_inner h2 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-left: 200px;
}

.top_inner h1 {
    font-size: 50px;
    font-weight: 500;
    color: #00ffff;
    margin-left: 200px;
}

.feature {
    width: 100%;
    position: relative;
}

.feature_inner {
    width: 50%;
    background-color: #a9a9a9;
    border-top: solid 3px #00ffff;
    position: relative;
    z-index: 3;
    float: left;
}

.feature_inner h4 {
    font-size: 50px;
    color: #00ffff;
    padding: 15% 0 0 15%;
}

.feature_inner small {
    font-size: 20px;
    padding-left: 15%;
    font-weight: bold;
}

.feature_inner p {
    width: 50%;
    padding-left: 15%;
    line-height: 2.5;
}

.feature_img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top: 80px;
    z-index: 2;
}

.feature_img img {
    display: block;
    width: 500px;
    margin: 0 900px;
    height: 400px;
}

.feature_bg {
    background: #a9a9a9;
    height: 570px;
}

.service {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: #a9a9a9;
}

.service h3 {
    text-align: center;
    font-size: 50px;
    color: #00ffff;
    line-height: 1;
}

.service small {
    font-size: 20px;
    color: #555;
}

.service_bg {
    background-image: url("../img/service_bg.png");
    background-size: cover;
    height: 900px;
    margin-top: 5%;
    text-align: center;
}

.service_item {
    width: 25%;
    display: inline-block;
    height: 600px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 50px 30px;
}

.service_item img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.service_item h4 {
    font-size: 30px;
    padding-top: 20px;
    color: #fff;
}

.service_item small {
    font-size: 13px;
    color: #00ffff;
    font-weight: bold;
}

.service_item p {
    padding: 10px;
    line-height: 2;
    color: #fff;
}

.service .btn a {
    background: #00ffff;
    padding: 20px 60px;
    position: relative;
    top: 90px;
    color: #555;
    font-weight: bold;
    z-index: 1;
}

.service .btn a:hover {
    opacity: 0.75;
}

.recruit {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: #a9a9a9;
}

.recruit_inner {
    width: 50%;
    position: relative;
    left: 730px;
    top: 280px;
    z-index: 1;
}

.recruit h3 {
    font-size: 50px;
    color:  #00ffff;
}

.recruit h3 small {
    font-size: 20px;
    color: #555;
    font-weight: bold;
}

.recruit h4 {
    font-size: 20px;
    color: #555;
    font-weight: bold;
}

.recruit p { 
    line-height: 2.5;
    padding-top: 50px;
    font-weight: 700;
}

.recruit .btn a {
    text-align: center;
    background: #00ffff;
    padding: 20px 60px;
    position: relative;
    top: 90px;
    color: #555;
    font-weight: bold;
}

.recruit .btn a:hover {
    opacity: 0.5;
}

.recruit img {
    position: relative;
    float: left;
    width: 35%;
    height: auto;
    z-index: 1;
    bottom: 500px;
}

.recruit_bg {
    width: 80%;
    height: 600px;
    background-color: #eee;
    position: absolute;
    bottom: 150px;
    z-index: 0;
}

.contact {
    position: relative;
    width: 100%;
    background-color: #a9a9a9;
}

.contact h3 {
    font-size: 50px;
    color: #00ffff;
    text-align: center;
    font-weight: 900;
}

.contact h3 small {
    font-size: 20px;
    color: #555;
    font-weight: 900;
}

.contact p {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    font-weight: 900;
}

.contact .btn a {
    text-align: center;
    position: relative;
    background: #00ffff;
    padding: 20px 60px;
    color: #555;
    font-weight: bold;
}

.contact .btn a:hover{
    opacity: 0.5;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #555;
    color: white;
    text-align: center;
}

ul.footer_menu li {
display: inline;
}

ul.footer_menu li a:hover {
    opacity: 0.5;
    color: #00ffff;
    border-bottom: solid 2px #00ffff;
}